body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d3f0e2;
    overflow-x: hidden;
}


/* book now */
.book-now {
    position: fixed;
    bottom: 5vh;
    right: 5ch;
    z-index: 40;
    border: 2px black solid;
    border-radius: 30px 30px 30px 30px;
    padding: 1vh 2vh;
    width: fit-content;
    background-color: blue;
}

.book-now-text {
    font-weight: 900;
    color: white;
}

/* navbar */
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 200;
}

.navbar_brand {
    font-size: 35;
    padding: 0%;
    margin: 0%;
}

.navbar,
.social-media {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar li,
.social-media li {
    display: inline;
}

.navbar a,
.social-media a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar a:hover,
.social-media a:hover {
    color: #c4b7b7;
}





/* intro_part_1 */
.intro-section {
    z-index: -1;
    text-align: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand-name {
    font-size: 48px;
    font-weight: 400;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 2px;
}

.arrow-down {
    margin-top: 20px;
    justify-self: flex-end;
    font-size: 24px;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

.intro-section-placeholder-for-flow {
    height: 100vh;
}




/* info_part*/
.info-container {
    display: flex;
    width: fit-content;
    margin: 0;
    padding: 0%;
}

.info-holder {
    margin: 0;
    padding: 0%;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    text-align: center;
    margin: 40px 20px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 76%;
    height: auto;
}

.info-section h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info-section p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}


/* about container */
.about-holder {
    background-color: #94dddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-section {
    background-color: #ff111100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px black solid;
    width: 65%;
}

.contact-secton {
    display: none;
}




/* gallary part */
.galery-holder {
    display: grid;
    height: fit-content;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.img-holder {
    padding: 0%;
    margin: 0%;
    border-radius: 10px;
    background-color: #555;
    height: fit-content;
    width: fit-content;
    position: relative;
    overflow: hidden;
    transition: 1s;
}

.gal-img {
    margin: 0%;
    padding: 0%;
    width: 50vh;
    height: 25vh;
}

.gal-img-cover {
    position: absolute;
    top: 0%;
    margin: 0%;
    padding: 0%;
    width: 50vh;
    height: 25vh;
    background-color: #000000a8;
    visibility: hidden;
    transition: 1s;
}

.img-description {
    position: absolute;
    bottom: 0%;
    color: #bebebe;
    text-align: center;
    visibility: collapse;
    transition: 2s;
}

.img-holder:hover {
    z-index: 20;
    transform: scale(1.8, 1.8);
}

.img-holder:hover>.img-description {
    visibility: visible;
}

.img-holder:hover>.gal-img-cover {
    visibility: visible;
}






/* review section */
.reviews-holder {
    display: flex;
    width: fit-content;
    height: 100vh;
    align-items: center;
    position: relative;
}

.show-more-reviews {
    position: absolute;
    left: 95vw;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #fffafa;
}

.review-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
    width: 20vw;
    height: 25vw;
    border: 2px black solid;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    background-color: #94dddd;
}

.dp-name {
    text-decoration: underline;
    font-weight: bolder;
}

.review-dp-holder {
    border-radius: 50%;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.review-dp {
    width: 10vh;
    height: 10vh;
}

.review-score {}

.review-topic {
    text-decoration: underline;
    font-weight: bold;
}

.review-content {
    text-align: center;
}


/* footer */
.footer-holder {
    position: relative;
    background-color: #928d8d73;
    width: 100vw;
    height: 40vh;
    box-sizing: border-box;
    padding: 10vh;
    padding-bottom: 5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.footer-header {
    position: absolute;
    width: 100vw;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    text-decoration: underline;
    font-weight: bolder;
}

.footer-text {
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 0%;
    margin: 0%;
}